
**._.DS_Store
**.swp
*.DS_Store
*.blend
*.blend1
*.c
*.ipynb_checkpoints
*.log
*.mtl
*.npz
*.obj
*.out
*.so
*.usd
*.usda
*.usdc
*.xml
*/miniconda.sh
*/rclone.zip
*/wandb
*_times.txt
*egg-info
*pyx.cpp
*tmp*
.coverage
.idea
.nfs*
.vscode
Blender-FLIP-Fluids
Blender.app
Blender.app/
FINISH_*
MUJOCO_LOG.TXT
MUJOCO_LOG.txt
Python-*
Python-*.tgz
START_*
__pycache__
_start.txt
articulated_asset_preview.html
blender
blender.dmg
blender.tar.xz
blends
build
build/
cache
config/custom.gin
coverage.xml
dev.py
dev_install.sh
dist
generated_surface_script.py
mjcf/
outputs
outputs/
outputs_scratch
polycounts.txt
process_mesh
profiles_*.npz
resources
screenlog.*
screenlog.0
sim_exports/
sim_testing/
slurm-*.out
snippets
tests/sim/sim_exports
tests/sim/test_blueprints
tests/sim/test_objects
times.txt
urdf/
usd/
wandb
worldgen
